<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bizMember">

	<resultMap id="resultMember" type="bizMember">
		<result property = "id" column="M_ID" /> 
		<result property="bizName" column="BIZ_NAME" />
		<result property="bizPn" column="BIZ_PN" />
		<result property="bizNum" column="BIZ_NUM" />
		<result property="bizDelivery" column="BIZ_DELIVERY" />
		<result property="masterName" column="MASTER_NAME" />
	</resultMap>

	<insert id="insertMember" parameterType="bizMember" flushCache="true">
		INSERT INTO MEMBER_BIZ VALUES 
		(#{id}, 2, #{bizName},#{bizPn},#{bizNum},#{bizDelivery},#{masterName}, 'Y', 'Y')
	</insert>

	<select id="selectBizMember" parameterType="bizMember" resultMap="resultMember">
		SELECT * FROM MEMBER_BIZ WHERE M_ID=#{id}
	</select>
</mapper>
