<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">

	<resultMap id="resultMember" type="Member">
		<id property="id" column="M_ID" />
		<result property="passwd" column="M_PW" />
		<result property="name" column="M_NAME" />
		<result property="code" column="M_NUM" />
		<result property="email" column="M_EMAIL" />
		<result property="post" column="M_POST" />
		<result property="addressBasic" column="M_BASIC_ADDR" />
		<result property="addressDetail" column="M_DETAIL_ADDR" />
		<result property="phone" column="M_CP" />
		<result property="photo" column="M_PHOTO" />
		<result property="blackCnt" column="M_BLACKCNT"/>
		<result property="mstatus" column="M_STATUS" />
	</resultMap>

	<insert id="insertMember" parameterType="Member" flushCache="true">
		INSERT INTO MEMBER (M_ID, M_PW, M_NAME, M_EMAIL, M_POST, M_BASIC_ADDR, M_DETAIL_ADDR, 
		M_CP, M_PHOTO, M_BLACKCNT, M_STATUS) VALUES
		(#{id},#{passwd},#{name},#{email},#{post},#{addressBasic},#{addressDetail},#{phone},#{photo},
		#{blackcnt}, #{mstatus})
	</insert>



</mapper>