<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">

	<resultMap id="resultMember" type="Member">
		<id property="id" column="M_ID" />
		<result property="passwd" column="M_PW" />
		<result property="name" column="M_NAME" />
		<result property="code" column="M_NUM" />
		<result property="email" column="M_EMAIL" />
		<result property="post" column="M_POST" />
		<result property="addressBasic" column="M_BASIC_ADDR" />
		<result property="addressDetail" column="M_DETAIL_ADDR" />
		<result property="phone" column="M_CP" />
		<result property="photo" column="M_PHOTO" />
	</resultMap>

	<insert id="insertMember" parameterType="Member" flushCache="true">
		INSERT INTO MEMBER VALUES
		(#{id},#{passwd},#{name},#{email},#{post},#{addressBasic},#{addressDetail},#{phone},3,#{photo})
	</insert>
	
	<select id = "loginCheck" parameterType="Member" resultMap="resultMember">
		SELECT * FROM MEMBER WHERE M_ID = #{id} and M_PW = #{passwd}
	</select>

	<select id="dupid" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE M_ID = #{id}
	</select>
</mapper>
