<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PaymentMapper">

	<resultMap id="resultPayment" type="Payment">
		<id property="poNum" column="P_O_NUM" />
		<result property="pbNum" column="P_B_NUM" />
		<result property="poBizDelivery" column="BIZ_DELIVERY" />
		<result property="poDate" column="P_O_DATE" />
		<result property="poBookDate" column="P_O_BOOKDATE" />
		<result property="poCnt" column="P_O_CNT" />
		<result property="poPrice" column="P_O_PRICE" />
		<result property="poText" column="P_O_TEXT" />
		<result property="mbBizName" column="BIZ_NAME" />
		<result property="pbName" column="P_NAME" />
		<result property="pbPrice" column="P_PRICE" />
		<result property="pbImg" column="P_IMG" />
		
		<result property="pay_NUM" column="pay_NUM" />
		<result property="pay_date" column="pay_date" />
		<result property="pay_method" column="pay_method" />
		<result property="pay_price" column="pay_price" />
		<result property="imp_uid" column="imp_uid" />
		<result property="m_id" column="m_id" />
		
		<result property="recPost" column="P_O_REC_POST" />
		<result property="recName" column="P_O_REC_NAME" />
		<result property="recCP" column="P_O_REC_CP" />
		<result property="recBasicAddr" column="P_O_REC_BASIC_ADDR" />
		<result property="recDetailAddr" column="P_O_REC_DETAIL_ADDR" />
		<result property="recMemo" column="P_O_MEMO" />
		<result property="s_num" column="S_NUM" />
		<result property="s_status" column="s_status" />
	</resultMap>


	<!--1. 완제품 케이크 장바구니 내역만 일단 가지고 오는 것 -->
	<select id="cartselectList" resultMap="resultPayment">
		
		SELECT
			PO.P_O_NUM, <!-- 주문번호 -->
			PO.P_B_NUM, <!-- 참고게시글번호 -->
			PO.BIZ_DELIVERY, <!-- 배송비 -->
			PO.P_O_DATE, <!-- 주문일자 -->
			PO.P_O_BOOKDATE, <!-- 예약날짜 -->
			PO.P_O_CNT, <!-- 주문수량 -->
			PO.P_O_PRICE,<!--  총 상품가격 -->
			PO.P_O_TEXT, <!-- 맞춤형 문구 -->
			MB.BIZ_NAME, <!-- 사업장이름(가게이름) -->
			PB.P_NAME, <!-- 제품 이름 -->
			PB.P_PRICE, <!-- 제품 하나 가격 -->
			PB.P_IMG	<!-- 제품 이미지 -->
		FROM
			PRODUCT_ORDER PO,
			MEMBER_BIZ MB,
			PRODUCT_BOARD PB
		WHERE
			PO.M_ID = #{id}
		AND
			PO.S_NUM = 1
		AND
			MB.M_ID = PB.M_ID
		AND
			PB.P_B_NUM = PO.P_B_NUM
		
	</select>
	
	<update id="updateCart" parameterType="Payment" flushCache="true"
		statementType="PREPARED">
		UPDATE 
			PRODUCT_ORDER 
		SET 
			P_O_CNT = #{poCnt},
			P_O_PRICE = #{poPrice}
		WHERE 
			P_O_NUM = #{poNum}
	</update>
	
	<delete id="deleteCart" flushCache="true" statementType="PREPARED">
		DELETE 
		FROM
			PRODUCT_ORDER
		WHERE
			P_O_NUM = #{poNum}
	</delete>
	
	
	
	<insert id="insertPayment" parameterType="Payment" flushCache="true">
		INSERT 
			INTO 
			payment 
				(pay_NUM, 
				M_ID, 
				pay_date, 
				pay_price, 
				pay_method, 
				imp_uid)
		VALUES 
			(SEQ_pay_NUM.NEXTVAL,
			#{m_id},
			SYSDATE, 
			#{pay_price}, 
			#{pay_method}, 
			#{imp_uid})
	</insert>
	
	<update id="updateProductOrder" parameterType="Payment" flushCache="true"
		statementType="PREPARED">
		UPDATE 
			PRODUCT_ORDER 
		SET 
			S_NUM = 3,
			P_O_MEMO = #{recMemo},
			P_O_DATE = SYSDATE,
			P_O_REC_NAME = #{recName},
			P_O_REC_CP = #{recCP},
			P_O_REC_POST = #{recPost},
			P_O_REC_BASIC_ADDR = #{recBasicAddr},
			P_O_REC_DETAIL_ADDR = #{recDetailAddr},
			pay_Num = 
					(select 
						max(pay_NUM) 
					from 
						payment)
		WHERE 
			S_NUM=1
	</update>
	
	<select id="paymentSuccess" resultMap="resultPayment">
		SELECT
			*
		FROM
			payment
		WHERE
			M_ID = #{id}
		AND
			PAY_NUM = 
				(select 
					max(pay_NUM) 
				from 
					payment 
				WHERE 
				 	M_ID = #{id})
	</select>
	
	
	
	
	<select id="getBuyListCount" resultType="_int">
		SELECT 
			COUNT(*) 
		FROM 
			PRODUCT_ORDER
		where
			m_id = #{m_id}
		and
			S_NUM >=3
		
	</select>
	
	<select id="selectBuyList" resultMap="resultPayment">
		SELECT
			PO.P_O_NUM, <!-- 주문번호 -->
			PO.P_B_NUM, <!-- 참고게시글번호 -->
			PO.BIZ_DELIVERY, <!-- 배송비 -->
			PO.P_O_DATE, <!-- 주문일자 -->
			PO.P_O_BOOKDATE, <!-- 예약날짜 -->
			PO.P_O_CNT, <!-- 주문수량 -->
			PO.P_O_PRICE,<!--  총 상품가격 -->
			PO.P_O_TEXT, <!-- 맞춤형 문구 -->
			
			MB.BIZ_NAME, <!-- 사업장이름(가게이름) -->
			PB.P_NAME, <!-- 제품 이름 -->
			PB.P_IMG,	<!-- 제품 이미지 -->
			
			PO.P_O_REC_NAME,  <!-- 받는 사람 이름 -->
			PO.P_O_REC_CP,  <!-- 받는 사람 전화번호 -->
			PO.P_O_REC_POST,  <!-- 받는 사람 우편번호 -->
			PO.P_O_REC_BASIC_ADDR,  <!-- 기본 주소 -->
			PO.P_O_REC_DETAIL_ADDR,  <!-- 상세 주소 -->
			PO.S_NUM,             <!-- 주문 진행 상태 -->
			PO.P_O_MEMO,    <!-- 배송 메모 -->		
			s.s_status	<!-- 주문 단계 설명 -->
		FROM
			PRODUCT_ORDER PO,
			MEMBER_BIZ MB,
			PRODUCT_BOARD PB,
			STATUS S
		WHERE
			PO.M_ID = #{m_id}
		AND
			PO.S_NUM >=3
		AND
			MB.M_ID = PB.M_ID
		AND
			PB.P_B_NUM = PO.P_B_NUM
		and
			po.s_num = s.s_num
		ORDER BY 
			po.p_o_date desc
		
	</select>
	

</mapper>
